.is-hidden
  display: none !important;

.is-show
  display: block !important;

.full-size
  width: 100vw;
  height: 100vh;

$primary: #045757;
$dark-primary: #044343;
$secondary: #e4e4e4;
$black: #222222;