.navbar
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40px 1fr 1fr;
    grid-template-areas: "logo . search";
    max-height: 40px;
    background-color: $secondary;
    padding: 10px;

    .logo
        display: block;
        max-width: 100%;
        max-height: 100%;
        grid-area: logo;

        img
            max-width: 100%;
    
    .search
        display: block;
        position: relative;
        max-height: 100%;
        grid-area: search;
        align-self: center;
        justify-self: end;

        .input
            @include border-radius(10px)
            background-color: $secondary;
            border: 1px solid darken($secondary, 15%);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0;
            padding: 5px;
        
        .btn
            padding: 5px;
            background-color: $secondary;
            border-width: 1px;
            @include border-radius(5px)
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;