// Base
@import 'base/variables'
@import 'base/mixins'

// Components
@import 'components/_grid'
@import 'components/_navbar'

*
  outline: 0;

body
  background-color: $black;
  margin: 0 auto;

#app
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary;
#nav
  padding: 30px;

  a
    font-weight: bold;
    color: $primary;

    &.router-link-exact-active
      color: $dark-primary;