// Base
@import 'base/variables'
@import 'base/functions'
@import 'base/mixins'
@import 'base/_transitions'
@import 'base/_default'

// Components
@import 'components/_grid'
@import 'components/_navbar'
@import 'components/_notification'
@import 'components/_login'

#app
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary;

  a
    font-weight: bold;
    color: $primary;

    &.router-link-exact-active
      color: $dark-primary;